# Folders
certificates/
webroot/
*.zip

# Files
jet-com.sh
hyperion.sh
logic.tmp
action.sh
customize.sh
module.prop
uninstall.sh
verify.sh
service.sh
hyperion
hyperion.c
build_temp/

# System
.DS_Store
Thumbs.db